<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
		<h1>Kronika studencka</h1>
		<div class="horizontal_menu_container">
			<section>
				<nav>
					<ul class="horizontal_menu">
					<li class="horizontal_menu"><a class="menu_selected" href="/profil">Moje dane</a></li>
					<li class="horizontal_menu"><a>Baza zdjęć</a></li>
					<li class="horizontal_menu"><a>Artykuły</a></li>
					<li class="horizontal_menu"><a href="/zadania-przydzielone">Zadania</a></li>
					<li class="horizontal_menu"><a>Terminarz</a></li>
					<li class="horizontal_menu"><a href="/wydarzenia">Wydarzenia</a></li>
					<li class="horizontal_menu"><a href="/wnioski">Wnioski</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<div class="vertical_menu_container">
			<section>
				<nav>
					<ul>
					<li><a class="menu_selected" href="/profil">Profil</a></li>
					<li><a href="/zmien-dane">Zmień Dane</a></li>
					<li><a>Wyloguj</a></li>
					</ul>
				</nav>
			</section>
		</div>
        <div class="main_container">
            <p>Email: {{ kronikarz.email }}</p>
            <p>Imię: {{ kronikarz.imie }}</p>
            <p>Nazwisko: {{ kronikarz.nazwisko }}</p>
            <p>Nr Indeksu: {{ kronikarz.nr_indeksu }}</p>
            <p>Uczlenia: {{ kronikarz.uczelnia }}</p>
            <p>Wydział: {{ kronikarz.wydzial }}</p>
            <p>Kierunek: {{ kronikarz.kierunek }}</p>
        </div>
    </body>
</html>
