<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
		<h1>Kronika studencka</h1>
		<div class="horizontal_menu_container">
			<section>
				<nav>
					<ul class="horizontal_menu">
					<li class="horizontal_menu"><a href="/profil">Moje dane</a></li>
					<li class="horizontal_menu"><a>Baza zdjęć</a></li>
					<li class="horizontal_menu"><a>Artykuły</a></li>
					<li class="horizontal_menu"><a href="/zadania-przydzielone">Zadania</a></li>
					<li class="horizontal_menu"><a>Terminarz</a></li>
					<li class="horizontal_menu"><a class="menu_selected" href="/wydarzenia">Wydarzenia</a></li>
					<li class="horizontal_menu"><a href="/wnioski">Wnioski</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<div class="vertical_menu_container">
			<section>
				<nav>
					<ul>
					<li><a href="/wydarzenia">Wydarzenia</a></li>
					<li><a class="menu_selected" href="/utworz-wydarzenie">Utwórz Wydarzenie</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<div class="main_container">
            <form action="" method="post">
				<label>Nazwa:</label>
				<input type="text" name="email" value="{{ request.form.nazwa }}">
				<br>
				<label>Rodzaj:</label>
				<input type="text" name="rozaj" value="{{ request.form.rodzaj }}">
                <br>
				<label>Godzina rozpoczęcia:</label>
				<input type="text" name="godzina_rozpoczecia" value="{{ request.form.godzina_rozpoczecia }}">
                <br>
				<label>Godzina zakończenia:</label>
				<input type="text" name="godzina_zakonczenia" value="{{ request.form.godzina_zakonczenia }}">
                <br>
				<label>Opis:</label>
				<input type="text" name="opis" value="{{ request.form.opis }}">

				<br><br>
				<input class="login_button" type="submit" value="Zaloguj">
			</form>
        </div>
	</body>
</html>
