<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
		<h1>Kronika studencka</h1>
		<div class="horizontal_menu_container">
			<section>
				<nav>
					<ul class="horizontal_menu">
					<li class="horizontal_menu"><a class="menu_selected" href="/profil">Moje dane</a></li>
					<li class="horizontal_menu"><a>Baza zdjęć</a></li>
					<li class="horizontal_menu"><a>Artykuły</a></li>
					<li class="horizontal_menu"><a href="/zadania-przydzielone">Zadania</a></li>
					<li class="horizontal_menu"><a>Terminarz</a></li>
					<li class="horizontal_menu"><a href="/wydarzenia">Wydarzenia</a></li>
					<li class="horizontal_menu"><a href="/wnioski">Wnioski</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<div class="vertical_menu_container">
			<section>
				<nav>
					<ul>
					<li><a href="/profil">Profil</a></li>
					<li><a class="menu_selected" href="/zmien-dane">Zmień Dane</a></li>
					<li><a >Wyloguj</a></li>
					</ul>
				</nav>
			</section>
		</div>
		<div class="main_container">
            <form action="" method="post">
				<label>Email:</label>
				<input type="text" name="email" value="{{ request.form.email }}">
				<br>
				<label>Imię:</label>
				<input type="text" name="imie" value="{{ request.form.imie }}">
                <br>
                <label>Nazwisko:</label>
				<input type="text" name="nazwisko" value="{{ request.form.nazwisko }}">
				<br>
                <label>Uczelnia:</label>
				<input type="text" name="email" value="{{ request.form.email }}">
				<br>
                <label>Wydział:</label>
				<input type="text" name="email" value="{{ request.form.email }}">
                <br>
                <label>Kierunek:</label>
				<input type="text" name="email" value="{{ request.form.email }}">
				<br><br>
				<input class="zmine_dane_button" type="submit" value="Zmień Dane">
			</form>
        </div>
	</body>
</html>
